# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Python virtual environment
.venv/
venv/
env/
ENV/
.venv.bak/
venv.bak/

# Common venv directories/files created by Python
bin/
lib/
include/
share/
Scripts/
Lib/
pyvenv.cfg
pip-selfcheck.json

# Cache folders
__pycache__/
.pytest_cache/